<div class="section"></div>
<main>
   <center>
      <img class="responsive-img" style="width: 250px;margin-bottom:50px;" src="assets/img/logo_wavestone.png" />
      <div class="container login_container">
         <div class="z-depth-1 grey lighten-4 row" style="padding: 30px 50px 25px 50px; border: 1px solid #EEE;position:relative;">
            <!-- Loading panel -->
            <div id="loading_overlay" class="grey lighten-4">

               <!-- STEP 1 -->
               <div class='grid signup_step'>
                  <div class="steps_icon">
                     <div ng-if="firstStep.state == 'PENDING'">
                       <i class="material-icons medium pending">lens</i>
                     </div>
                     <div ng-if="firstStep.state == 'IN_PROGRESS'">
                        <div class="preloader-wrapper active">
                           <div class="spinner-layer spinner-blue-only">
                              <div class="circle-clipper left">
                                 <div class="circle"></div>
                              </div>
                              <div class="gap-patch">
                                 <div class="circle"></div>
                              </div>
                              <div class="circle-clipper right">
                                 <div class="circle"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div ng-if="firstStep.state == 'COMPLETED'">
                        <i class="material-icons medium completed">check_circle</i>
                     </div>
                     <div ng-if="firstStep.state == 'FAILED'">
                        <i class="material-icons medium failed">remove_circle</i>
                     </div>
                  </div>
                  <div class="steps_label relative">
                     <div class="register_step_label" ng-class="{'pending': firstStep.state == 'PENDING','completed': firstStep.state == 'COMPLETED','failed': firstStep.state == 'FAILED','in_progress': firstStep.state == 'IN_PROGRESS'}">{{firstStep.label}}</div>
                  </div>
               </div>

               <!-- STEP 2 -->
               <div class='grid signup_step'>
                  <div class="steps_icon">
                     <div ng-if="secondStep.state == 'PENDING'">
                       <i class="material-icons medium pending">lens</i>
                     </div>
                     <div ng-if="secondStep.state == 'IN_PROGRESS'">
                        <div class="preloader-wrapper active">
                           <div class="spinner-layer spinner-blue-only">
                              <div class="circle-clipper left">
                                 <div class="circle"></div>
                              </div>
                              <div class="gap-patch">
                                 <div class="circle"></div>
                              </div>
                              <div class="circle-clipper right">
                                 <div class="circle"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div ng-if="secondStep.state == 'COMPLETED'">
                        <i class="material-icons medium completed">check_circle</i>
                     </div>
                     <div ng-if="secondStep.state == 'FAILED'">
                        <i class="material-icons medium failed">remove_circle</i>
                     </div>
                  </div>
                  <div class="steps_label relative">
                     <div class="register_step_label" ng-class="{'pending': secondStep.state == 'PENDING','completed': secondStep.state == 'COMPLETED','failed': secondStep.state == 'FAILED','in_progress': secondStep.state == 'IN_PROGRESS'}">{{secondStep.label}}</div>
                  </div>
               </div>

               <!-- STEP 3 -->
               <div class='grid signup_step'>
                  <div class="steps_icon">
                     <div ng-if="thirdStep.state == 'PENDING'">
                       <i class="material-icons medium pending">lens</i>
                     </div>
                     <div ng-if="thirdStep.state == 'IN_PROGRESS'">
                        <div class="preloader-wrapper active">
                           <div class="spinner-layer spinner-blue-only">
                              <div class="circle-clipper left">
                                 <div class="circle"></div>
                              </div>
                              <div class="gap-patch">
                                 <div class="circle"></div>
                              </div>
                              <div class="circle-clipper right">
                                 <div class="circle"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div ng-if="thirdStep.state == 'COMPLETED'">
                        <i class="material-icons medium completed">check_circle</i>
                     </div>
                     <div ng-if="thirdStep.state == 'FAILED'">
                        <i class="material-icons medium failed">remove_circle</i>
                     </div>
                  </div>
                  <div class="steps_label relative">
                     <div class="register_step_label" ng-class="{'pending': thirdStep.state == 'PENDING','completed': thirdStep.state == 'COMPLETED','failed': thirdStep.state == 'FAILED','in_progress': thirdStep.state == 'IN_PROGRESS'}">{{thirdStep.label}}</div>
                  </div>
               </div>
            </div>

            <form class="col s12" method="post">
               <div class='row'>
                  <div class='col s12'>
                  </div>
               </div>
               <div class='row'>
                  <div class='input-field col s12'>
                     <input type='text' name='name' id='name' ng-model="credentials.name" />
                     <label for='name'>Enter a company name</label>
                  </div>
               </div>
               <div class='row'>
                  <div class='input-field col s12'>
                     <input type='email' name='email' id='email' ng-model="credentials.email" />
                     <label for='email'>Enter your email</label>
                  </div>
               </div>
               <div class='row'>
                  <div class='input-field col s12'>
                     <input class='validate' type='password' name='password' id='password' ng-model="credentials.password"/>
                     <label for='password'>Enter your password</label>
                  </div>
               </div>
               <div class='row'>
                  <div class='input-field col s12'>
                     <input class='validate' type='password' name='password_repeat' id='password_repeat' ng-model="credentials.password_repeat"/>
                     <label for='password_repeat'>Repeat your password</label>
                  </div>
               </div>
               <br />
               <center>
                  <div class='row'>
                     <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' ng-click="submit()">Create account</button>
                  </div>
               </center>
            </form>
         </div>
      </div>
      <a href="#login">Already have an account ?</a>
   </center>
</main>